/* regole generali */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.flex{
    display: flex;
}

.f-wrap{
    flex-wrap: wrap;
}

.container-l{
    max-width: 1200px;
    margin: 0 auto;
}

.container-s{
    max-width: 1000px;
    margin: 0 auto;
}

.container-s>*, .card-cont div *:nth-child(3n), .central *{
 margin-bottom: 50px;
}

.w70{
    width: 70%;
}

.w30{
    width: 30%;
}

.large, .infobox img{
    width: 100%;
}

.blue-button{
    color: #fff;
    background-color:#0061ff;
    border: none;
}

/* regole mirate */

/* regole barra di navigazione */
.header-top{
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
}

.header-top, .business, .functions-container{
    justify-content: space-between;
}

.navigation ul{
    list-style: none;
    height: 100%;    
}

.navigation li {
    height: 100%;
    display: flex;
    align-items: center;
}

.select:hover{
    box-sizing: content-box;
    border-bottom: solid 2px #000;
}

.navigation ul a{
    text-decoration: none;
    color: #000;
    padding: 20px;
}

.nav-button{
    font-size: 16px;
    padding: 6px 16px;
}
/* regole jumbo */
.header-bot{
    background-color:#b5d1e8;
    margin-top: 80px;
}

.jumbo{
    padding-top: 80px;
}

.header-bot h1{
    font-size: 78px;
    font-weight: 800;
}

.jumbo section{
    position: relative;
    top: 60px;
}

.jumbo div a{
    text-decoration: none;
}

.jumbo div p:first-child, .infobox, .functions h2, .link h2{
    margin-bottom: 40px;
}

.jumbo-button, .partner-button{
    padding: 10px 16px;
}

.jumbo div p:last-of-type{
    margin-top: 40px;
}

.fa-arrow-down{
    font-size: 50px;
    color: #000;
    margin-top: 40px;
}

/* regole main sezione pres-piani */

.pres-piani, .q-and-a h2{
    margin-top: 150px;
    margin-bottom: 70px;
}

.pres-piani h2, .functions>h2, .link h2, .trial h2, .q-and-a h2{
    font-size: 40px;
}

.anni-mesi{
    height: 150px;
    align-items: center;
}

.anni-mesi section{
    margin-right: 30px;
    align-items: center;
}

.radio{
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    border-style: solid;
    margin: 5px;
}

.on {
    border-color: #0061ff;
    border-width: 5px;
}

.off{
    border-color: #c5c5c5;
    border-width: 2px;
}

/* regole sezione business */

.card, .team{
    border: solid 1px #c5c5c5 ;
}

.card-subj, .team-subj{
    height: 45px;
    border-bottom: solid 1px #c5c5c5 ;
    justify-content: center;
    align-items: center;
}

.card-cont, .team-cont .team-sez1, .team-cont .team-sez2{
    padding:40px 30px;
}

.card:not(h2), .team:not(h2){
    font-size: 14px;
}

.card-cont *{
    margin-top: 10px;
    margin-bottom: 10px;
}


.card-button{
    text-decoration: none;
}

.card-button-cont{
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.divisore{
    width: 50px;
    height: 0px;
    border-bottom: solid 1px #c5c5c5 ;
}

.card-list-item i{
    color: #0061ff;
}

/* parte delle regole della sezione team (alcune sono in comune con sezione business ) */

.team-sez1 h2, .partner-text *, .infobox h2{
    margin-bottom: 20px;
}

.team-sez1 :last-child{
    margin-top: 40px;
}

/* regole sezione partner */

.partner{
    padding: 80px 0px;
}

.partner img{
    width: 90%;
}

.partner-text{
    padding: 70px 0px;
}

.partner-button{ 
    display: inline-block;   
    text-align: center;
    border: solid #000 1px;   
}

/* regole sezione link */

.link{
    padding: 70px 0px;
}

/* regole sezione customer */

.customer{
    height: calc(100vw / 3);
}

.square-l{
    width: calc(100% / 3);
}

.square-s{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.central{
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
    padding: 50px 40px;
    overflow: hidden;
}

.central img, .square-s,.square-s img{
    width: 50%;
}

.central .divisore{
    width: 100px;
}

.design{
    background-color: #a2d39b;
}

.asu{
    background-color: #61082B;
}

.uf{
    background-color: #0093CE;
}

.topps{
    background-color: #FF1C1C;
}

.wbr{
    background-color: #D5001F;
}

.hearts{
    background-color: #B4D0E7;
}

.lp{
    background-color: #0D2481;
}

.cco{
    background-color: #FFD830;
}

.square-s img{
    filter: invert(1);
}

.square-s:hover{
    border-width: 10px;
    border-color: rgba(255, 255, 255, 0.5);
    border-style: solid;
}

/* regole sezione trial */

.trial{
    background-color: #b5d1e8;
}

.trial h2{
    color: #61082B;
}

.trial span{
    color: #000;
    background-color: #fff;
}

.trial .container-s div{
    padding: 150px 0px 90px 0px;
}

.trial .container-s .w70{
    padding-right: 20%;
}

/* regole sezione q-and-a */
/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

.bot-border{
    border-bottom: solid 1px #000;
}

.question, .answer{
    padding: 50px 20px 50px 0px;
    justify-content: space-between;
}

.answer{
    display: none;
} 

.q-a-container:hover > .answer{
    display: block;
}

.q-a-container:hover .fa-chevron-down{
    transform:rotate(180deg)
}